### Unity3D

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/
[Ll]ogs/
[Uu]serSettings/
/Logs/
Assets/AssetStoreTools*
SwitchIL2CPPCache*
SwitchIL2CPPStats*

## FMOD
# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Never ignore FMOD Build 
![As]ssets/Game/Art/Audio/**/[Bb]uild
!Assets/Game/Art/Audio/SO_FMODProject/Build/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*
                    
# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*
/[Aa]ssets/Plugins/FMOD/Cache/
/[Aa]ssets/Plugins/FMOD/Cache.meta
                    
# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta
                    
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log

# Amplify Shader Example
Assets/Plugins/AmplifyShaderEditor/Examples/
Assets/Plugins/AmplifyShaderEditor/Plugins/EditorResources/Templates/

# Pro Builder User Data
Assets/PluginMaster/DesignTools/Editor/PrefabWorldBuilder/Resources/PWBData.txt

# Packages Settings
ProjectSettings/Packages/com.unity.polybrush/Settings.json
ProjectSettings/Packages/com.unity.probuilder/Settings.json
Assets/AmplifyShaderEditor/Plugins/EditorResources/Templates/URP 12x.unitypackage.meta

# Visual Studio 2015 cache directory
.vsconfig
.idea/
.vs/
.vscode/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

### Windows

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
